<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"
	bootstrap="bootstrap.php" verbose="true" stopOnError="true"
	stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false">
	<testsuites>
		<testsuite name="WebApi">
			<file>AdministrationTest.php</file>
			<!-- 
			<file>AuditTest.php</file>
			<file>CacheTest.php</file>
			<file>StatisticsTest.php</file>
			<file>StudioTest.php</file>
			<file>NotificationTest.php</file>
			<file>FilterTest.php</file>
			<file>CodetracingTest.php</file>
			<file>ConfigurationTest.php</file>
			<file>PagecacheTest.php</file>
			<file>ServerTest.php</file>
			<file>JobQueueTest.php</file>
			<file>MonitoringRulesTest.php</file>
			<file>VirtualhostTest.php</file>
			<file>MonitorTest.php</file>
			<file>LibraryTest.php</file>
			<file>DeploymentTest.php</file>
			 -->
		</testsuite>
	</testsuites>
</phpunit>